<div class="container">
  <div class="form-group">
    <label for="studentId">Student Id:</label>
    <input type="text" id="studentId" class="form-control" [(ngModel)]="studentId">
  </div>
  <div class="form-group">
    <label for="courseId">Course Id:</label>
    <input type="text" id="courseId" class="form-control" [(ngModel)]="courseId">
  </div>
  <button class="btn btn-primary" (click)="getStudentProgress()">Get Progress</button>
</div>

<table class="table mt-3" *ngIf="courseProgressDto">
  <thead>
  <tr>
    <th scope="col">Student Name</th>
    <th scope="col">Course Name</th>
    <th scope="col" *ngIf="courseProgressDto.progress >= 0" >Progress</th>
  </tr>
  </thead>
  <tbody >
  <tr>
    <td>{{ courseProgressDto.studentName }}</td>
    <td>{{ courseProgressDto.courseName }}</td>
    <td *ngIf="courseProgressDto.progress >= 0">{{ courseProgressDto.progress }}%</td>
  </tr>
  </tbody>
</table>
